! XTerm Settings
xterm*faceName: Droid Sans Mono for Powerline
xterm*faceSize: 12
xterm*SaveLines: 1000
xterm*Border-Width: 0
xterm*locale: true
xterm*saveLines: 4096
xterm*bellIsUrgent: true

! Copy/Paste:
!   Mouse-Select : Copy to PRIMARY
!   Ctrl+Shift+V : Paste from CLIPBOARD

*VT100.Translations: #override \
~Meta Shift Ctrl <Key>V: insert-selection(CLIPBOARD) \n\
Shift <Btn1Up>: select-end(CLIPBOARD, CUT_BUFFER1) \n\
Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)
